<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Album</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Oswald' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="styles.css"/>
    <script type="text/html" id="homeAlbumTmpl">
      <article class="hp" data-index="">
        <h3><a href="#"><img src="<%= photo %>" alt="<%= name %>"></a></h3>
        <li><%= tag %></li>
      </article>
    </script>
    <script type="text/html" id="singleTmpl">
      <article class="tp" data-index="">
        <h3><a href="#"><img src="<%= photo1 %>"></a></h3>
        <h3><a href="#"><img src="<%= photo2 %>"></a></h3>
        <h3><a href="#"><img src="<%= photo3 %>"></a></h3>
        <li><%= tag %></li>
      </article>
    </script>
  </head>
  <body>
    <header>
      <!-- <ul> -->
        <!-- <li id="logoleft"><img src="http://www.armsandbadges.com/Showthumb.ashx?ThumbID=3c53cae8-912e-4aac-8e6c-7a3d898fb926"></li> -->
        <h1>Guthrie&nbsp;&nbsp;&nbsp;Family&nbsp;&nbsp;&nbsp;Photos</h1>
        <!-- <li id="logoright"><img src="http://www.armsandbadges.com/Showthumb.ashx?ThumbID=3c53cae8-912e-4aac-8e6c-7a3d898fb926"><li> -->
      <!-- </ul> -->
      </nav>
    </header>
      <aside>
          <h3>Album Selector:</h3>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="allAlbums">Home</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="mason">Mason</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="mia">Mia</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="bothKids">Both Kids</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="parents">Parents</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="dogs">Dogs</a></button></li>
            <li><button type="button"><a href="" style="color: #2EB82E;" rel="family">Family</a></button></li>
      </aside>
      <div class="swap">
        <section class="allAlbums active-section">
        </section>
        <section class="thumbs">
        </section>
    </div>
    <footer>
      <li id="cright">&copy; Guthrie Endeavors, Inc.</li>
      <li><img src="https://cdn.evbuc.com/images/11170117/33265003369/1/logo.png"></li>
      <li id="right">TIY 10.25.2015</li>
    </footer>
    <!-- JS FILES -->
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="albums.js"></script> -->
    <script src="home.js"></script>
    <script src="thumbnails.js"></script>
    <script src="main.js"></script>

  </body>
</html>
