<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photo Album</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link type="text/css" rel="stylesheet" href="styles.css"/>
    <script type="text/html" id="homeAlbumTmpl">
      <article class="hp" data-index="">
        <h3><img src="<%= photo %>"></h3>
        <li><%= tag %></li>
      </article>
    </script>

    <script type="text/html" id="singleTmpl">
      <article class="tp" data-index="">
        <h3><img src="<%= photo1 %>"></h3>
        <h3><img src="<%= photo2 %>"></h3>
        <h3><img src="<%= photo3 %>"></h3>
        <li><%= tag %></li>
      </article>
    </script>
  </head>
  <body>
    <header>
      <!-- <ul> -->
        <!-- <li id="logoleft"><img src="http://www.armsandbadges.com/Showthumb.ashx?ThumbID=3c53cae8-912e-4aac-8e6c-7a3d898fb926"></li> -->
        <h1>Guthrie Family Photos</h1>
        <!-- <li id="logoright"><img src="http://www.armsandbadges.com/Showthumb.ashx?ThumbID=3c53cae8-912e-4aac-8e6c-7a3d898fb926"><li> -->
      <!-- </ul> -->
      </nav>
    </header>
      <aside>
          <h3>Album Selector</h3>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="allAlbums">Home</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="mason">Mason</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="mia">Mia</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="bothKids">Both Kids</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="parents">Parents</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="dogs">Dogs</a></button></li>
            <li><button type="button"><a href="" style="color: #23CF5F;" rel="family">Family</a></button></li>
      </aside>
      <div class="swap">
        <section class="allAlbums active-section">
        <!-- <h2>All Albums</h2>
          <ul>
            <li id="mason1"><a href="#"><img src=""></a></li>
            <img id="mia1" src="#">
            <img id="bothKids1" src="#">
            <img id="parents1" src="#">
            <img id="dogs1" src="#">
            <img id="family1" src="#">
          </ul> -->
        </section>
        <section class="thumbs">
        </section>
        <!-- <section class="mason">
          <ul>
            <h2>My little man<h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section> -->
        <section class="mia">
          <ul>
            <h2>Mia has taken over</h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section>
        <section class="bothKids">
          <ul>
            <h2>Just the two of them</h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section>
        <section class="parents">
          <ul>
            <h2>Rebecca and Dustin</h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section>
        <section class="dogs">
          <ul>
            <h2>Havana - Tucker - Gaby</h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section>
        <section class="family">
          <ul>
            <h2>The Grandparents</h2>
            <img src="">
            <img src="">
            <img src="">
          </ul>
        </section>
    </div>
    <footer>
      <li id="cright">&copy; Guthrie Endeavors, Inc.</li>
      <li><img src="https://cdn.evbuc.com/images/11170117/33265003369/1/logo.png"></li>
      <li id="right">TIY 10.25.2015</li>
    </footer>
    <!-- JS FILES -->
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="albums.js"></script> -->
    <script src="home.js"></script>
    <script src="thumbnails.js"></script>
    <script src="main.js"></script>

  </body>
</html>
